/* основной цвет текста - color: #212121; */
/* цвет акцент - color: #2196F3; */
/* вторичный цвет текста - color: #757575; */
/* вторичный цвет фона - background: #E5E5E5; */
:root {
  --primery-text-color: #212121;
  --second-test-color: #757575;
  --accent-color: #2196f3;
  --text-size: 14px;
  --dark-bg-color: #2f303a;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: var(--text-size);
  color: var(--primery-text-color);
}

.logo-nav {
  font-family: 'Raleway', 'Oleo Script', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo {
  color: #2196f3;
}

/* nav */
.site-nav,
.contact-nav {
  list-style: none;
}
.site-nav .site-link {
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
}

.site-nav .site-link:hover,
.site-nav .siye-link:focus {
  color: var(--accent-color);
}

.link-stydio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
}

.link-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
}

.link-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
}

.contact-nav .contact-link {
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--second-test-color);
}

.contact-nav .contact-link:hover,
.contact-nav .contact-link:focus {
  color: var(--accent-color);
}

.link-email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}

.link-telephone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
}

/*шапка*/
.hero {
  background: #2f303a;
}

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.butten-hero {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.title-butten {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*особенности*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.features {
  list-style: none;
}

.list-features > h3 {
  font-weight: bold;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.list-features > p {
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--second-test-color);
}

/*чем мы занимаемся*/
.section-style {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.working,
.team {
  list-style: none;
}

/*наша команда*/
.our-team {
  background: #f5f4fa;
}
.team {
  font-size: 16px;
  line-height: 1, 19px;
  letter-spacing: 0.03em;
}

.list-team > h3 {
  font-weight: 500;
  color: var(--primery-text-color);
}

.list-team > p {
  color: var(--second-test-color);
}

/*подвал*/
.footer {
  background: #2f303a;
}
